<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat Application</title>
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://harshilchovatiya.github.io/images/android-chrome-192x192.png">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <button id="newChatButton" class="btn">New Chat</button>
            <div id="chatList" class="chat-list"></div>
        </div>
        <div class="main">
            <div id="chat" class="chat-container"></div>
            <textarea id="userInput" class="user-input" placeholder="Type your message..."></textarea>
        </div>
    </div>
    <script src="static/scripts.js"></script>
</body>

</html>